<!--Html included here will be applied to every page-->
<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>BeardStoreApp</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!--bootstrap core css (bs must be added first so the bs styles are applied over scss style)-->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!--links to static_pages.scss, which is linked to application.scss-->

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!--links to app/assets/javascript/? jquery included in Rails-->

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!--link to bootstrap js (bs js depends on jquery which is linked with the js link above.)-->

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--responsive mobile tag-->

=======
  <title>Testapp</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
 <!--link to bootstrap-->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!--link to stylesheets-->

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!--link to js-->

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!--link to bootstrap/js-->

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--allows mobile responsive-->
>>>>>>> 4142bde1a6560d184539171d7f93cb8df88da8d5
  <%= csrf_meta_tags %>

</head>
<body>

<<<<<<< HEAD
<header class="site-header">
=======
  <header class="site-header">
>>>>>>> 4142bde1a6560d184539171d7f93cb8df88da8d5
  	<ul class="head-nav">
  		<li><a href="default.asp">Home</a></li>
  		<li><a href="news.asp">News</a></li>
  		<li><a href="contact.asp">Contact</a></li>
  		<li><a href="about.asp">About</a></li>
		</ul>
  </header>

	<div class="page-wrap">
  	<div class="content">
    	<%= yield %>
  	</div>
  </div>

	<footer class="site-footer">
<<<<<<< HEAD
  	<p>&copy<small>BeardCo.</small></p>
	</footer>

=======
  	<p>&copy<small>Bike-a-palooza</small></p>
	</footer>




>>>>>>> 4142bde1a6560d184539171d7f93cb8df88da8d5

</body>
</html>
